@model POne.Models.CartItem

@{
    ViewData["Title"] = "AddToCart";
}

<h1>@ViewData["ItemData1"]</h1>
<h2>@ViewData["ItemData2"]</h2>
<h3>@ViewData["ItemData3"]</h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToCart">
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
